<%- include('partials/header') %> 

<body>
    <%- include('partials/navbar') %> 

    <div class="container">
        <h1> You're browsing the <%= name %> subreddit</h1>
        <h2> <%= description %> </h2>
        <h3> Total Subscribers - <%= subscribers %> </h3>
        <hr>

        <h1>POSTS</h1>
        <!-- Post Loop -->
        <% for( post of posts){ %>
            <article>
                <h3><%= post.title %> </h3>
                <p><%= post.author %> </p> 

                <% if (post.img){ %>
                    <img src="<%= post.img  %> " alt="Post Image">
                <% } %>  
            </article>
        <% } %> 

    </div>

</body>
</html>