<%- include('../partials/header') %>
<body>
    <%- include('../partials/navbar') %>
    
    <div class="container">
        <p> <b> Comment By:  </b> <%= comment.username %> </p>
        <p> <b> Comment - </b>  <%= comment.comment %> </p>
        <a href="/comments/<%= comment.id %>/edit ">Edit Comment</a>
        <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE">
            <button>Delete</button>
        </form>
        <a href="/comments">See all Comments</a>
    </div>
    
</body>
</html>  